:root{
    --clr-back: rgba(1, 13, 66);
    --clr-drkBack: rgba(2, 8, 37);
    --clr-fighter: rgba(189, 186, 186);
    --clr-rogue:  rgba( 204, 209, 204);
    --clr-hunt:  rgba(115, 170, 142);
    --clr-dokour: rgb(234, 84, 107);
    --clr-eolas: rgba(237, 226, 192);
    --clr-strumos: rgb(232, 247, 149);
    --clr-sylvan: #05ee19;
    --clr-orix: rgb(184, 128, 171);
    --clr-tiro: rgba(196, 197, 148);
    --clr-all: rgb(228, 241, 228);
    --clr-nav: rgb(167, 127, 206);

    --ff-base: "Milonga", serif;


    --fw-regular: 300;
    --fw-semi-bold: 400;
    --fw-bold: 700; 
}
html{
    color-scheme: light dark;
    scroll-behavior: smooth;
    font-size: calc(.3rem + 1vw);
}

body{
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    line-height: 1.5;
    font-style: normal;
    background-color: var(--clr-back);
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.emblem{
    width: 100%;
    height:auto;
}
.title{
    font-size: 6vw;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(RealDragonSmall.png);
    width: 100%;
    height:auto;
    overflow: auto;
}
.navbar{
    height: 4vh;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: var(--clr-drkBack);
}
#navlist{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    color: var(--clr-nav);
    margin: 1vw;
    font-size: .8em;
    list-style-type: none;
}
.main{
    display: grid;
    grid-template-columns: repeat(11, 9vw);
    grid-auto-rows: 30vh;
    font-size: .8em;
}
a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease 0s; 
}
.intro{
    grid-column: 3 / 12;
    grid-row: 1 / 4;
    max-height: 61vh;
    max-width: 79vw;
    overflow-y: scroll;

}
.race{
    grid-column: 1 / 7;
    grid-row: 3;
    margin-left: 5vw;
    width: 40vw;
    height: 30vh;
    align-self: start;
    position: relative;
    overflow:clip;
}
.rcard{ 
    min-width: 32vw;
    height: 27vh;
    background-color: black;
    background-repeat: no-repeat; background-size: cover;
}
.rcard:hover {
    border-color: rgb(12, 2, 206);
    border-width: .3vw;
    border-style: ridge;
}
.cardTitle{
    margin-left: 35%;
    margin-top: 0px;
    margin-bottom: 0%;
    font-size: 2em;
    text-decoration: none;
    color: unset;
}
.cardText{
    margin-top: -2%;
    margin-left: 40%;
    margin-right: 5%;
    text-indent: 5%;
    font-size: .8em ;
}
#rClick{
    margin-left: 20%;
    margin-right: 2%;
    margin-bottom: 1%;
}
.rBonusImg{
    cursor: default;
    position: absolute;
    top: 76%;
    left: 56%;
    width:auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: var(--fw-bold);
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}
.details{
    font-size: .7vw;
    cursor: pointer;
    position: absolute;
    top: 90%;
    width: auto;
    padding: 6px;
    margin-top: -22px;
    color: white;
    font-weight: var(--fw-bold);
    transition: 1.6s ease;
    border-radius: 0 3px 3px 0;
}
.dot {
    text-align: center;
    grid-column: 2 / 6;
    grid-row: 4;
}
.rdot {
    cursor: pointer;
    height: .7vw;
    width: .8vw;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .rdot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.profession{
    grid-column: 7 / 12;
    grid-row: 3;
    max-width: 40vw;
    max-height: 30vh;
    align-self: start;
    position: relative;
    overflow:clip;
}
.pcard{
    min-width: 32vw;
    height: 27vh;
    background-color: black;
    background-repeat: no-repeat; background-size: cover;
}
.pcard:hover {
    border-color: rgb(12, 2, 206);
    border-width: .3vw;
    border-style: ridge;
}

.pprev, .pnext {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: var(--fw-bold);
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.pnext {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.pprev:hover, .pnext:hover{
    background-color: rgba(0,0,0,0.8);
}
.profdot {
    text-align: center;
    grid-column: 7 / 11;
    grid-row: 4;
}
.pdot {
    cursor: pointer;
    height: .7vw;
    width: .8vw;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.pactive, .pdot:hover {
    background-color: #717171;
}
.pfade {
    animation-name: pfade;
    animation-duration: 1.5s;
}

@keyframes pfade {
    from {opacity: .4}
    to {opacity: 1}
}
    #race1 {
    background-image: url(07-Races/cards/Race1.png);
}
    #race2 {
    background-image: url(07-Races/cards/Race2.png);
}
    #race3 {
    background-image: url(07-Races/cards/Race3.png);
}
    #race4 {
    background-image: url(07-Races/cards/Race4.png);
}
    #race5 {
    background-image: url(07-Races/cards/Race5.png);
}
    #race6 {
    background-image: url(07-Races/cards/Race6.png);
}
    #race7 {
    background-image: url(07-Races/cards/Race7.png);
    }
    #race8 {
        background-image: url(07-Races/cards/Race8.png);
    }
    #race9 {
        background-image: url(07-Races/cards/Race9.png);
    }
    #race10 {
        background-image: url(07-Races/cards/Race10.png);
    }
    #race11 {
        background-image: url(07-Races/cards/Race11.png);
    }
    #race12 {
        background-image: url(07-Races/cards/Race12.png);
    }
    #race13 {
        background-image: url(07-Races/cards/Race13.png);
    }
    #race14 {
        background-image: url(07-Races/cards/Race14.png);
    }
    #race15 {
        background-image: url(07-Races/cards/Race15.png);
    }
#class7 {
    background-color: rgb(206, 4, 4);
}
.postClassRace{
    grid-column: 3 / 9;
    grid-row: 4;
    font-size: 1.5vh;    
    display: flex;
    justify-content: center;
    align-content: start;
}
#gm{
    grid-column: 2 / 10;
    grid-row: 3 / 9;    
    margin-top: 2vh;
    margin-left: 8vw;
}

#rF{
    grid-column: 1 / 7;
    grid-row: 4 / 9;
    margin-top: 15vh;
    margin-left: 3vw;
}
#cF{
    grid-column: 7 / 12;
    grid-row: 4 / 9;
    margin-top: 15vh;
    margin-right: 2vw;
    margin-left: 1vw;
}
[style*="--aspect-ratio"] > :first-child {
    width: 100%;
  }
  [style*="--aspect-ratio"] > img {  
    height: auto;
  } 
  @supports (--custom:property) {
    [style*="--aspect-ratio"] {
      position: relative;
    }
    [style*="--aspect-ratio"]::before {
      content: "";
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }  
    [style*="--aspect-ratio"] > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      overflow: auto;

    }
}
.footer{
    font-size:xx-small;
    margin-left: 10vw;
}
#class1 {
    background-image: url(20-Classes/cards/Class1.png);
}
#class2 {
    background-image: url(20-Classes/cards/Class2.png);
}
#class3 {
    background-image: url(20-Classes/cards/Class3.png);
}
#class4 {
    background-image: url(20-Classes/cards/Class4.png);
}
#class5 {
    background-image: url(20-Classes/cards/Class5.png);
}
#class6 {
    background-image: url(20-Classes/cards/Class6.png);
}
#class7 {
    background-image: url(20-Classes/cards/Class7.png);
}
#class8 {
    background-image: url(20-Classes/cards/Class8.png);
}
#class9 {
    background-image: url(20-Classes/cards/Class9.png);
}
#class10 {
    background-image: url(20-Classes/cards/Class10.png);
}
#class11 {
    background-image: url(20-Classes/cards/Class11.png);
}
#class12 {
    background-image: url(20-Classes/cards/Class12.png);
}
 /*Hexagonal Menu*/


    a:hover, .hexagon-item a:focus {
      color: #ababab;
}
  
  
  /*
   * Selection color
   */
  
   ::selection {
    background-color: #FA6862;
    color: #fff; }
  

  /*------------------------------------------------
      Home Page
  -------------------------------------------------*/
  
  .hexagon-item:first-child {
      margin-left: .5vw;
  }
 .pt-table{
    grid-column: 1 / 3;
    grid-row: 1 / 8;
    position: relative;
    margin-top: 7vh;
}
  /* End of container */
  .hexagon-item {
    cursor: pointer;
    width: 12vw;
    height: 10.39vw;
    margin-left: 2vw;
    z-index: 0;
    position: relative;
    transform: rotate(30deg); }
    .hexagon-item:first-child {
      margin-left: 0; }
    .hexagon-item:hover {
      z-index: 1; }
      .hexagon-item:hover .hex-item:last-child {
        opacity: 1;
        transform: scale(1.3); }
      .hexagon-item:hover .hex-item:first-child {
        opacity: 1;
        transform: scale(1.2); }
        .hexagon-item:hover .hex-item:first-child div:before,
        .hexagon-item:hover .hex-item:first-child div:after {
          height: 5px; }
      .hexagon-item:hover .hex-item div::before,
      .hexagon-item:hover .hex-item div::after {
        background-color: #ff0037; }
      .hexagon-item:hover .hex-content svg {
        transform: scale(0.97); }
  
  .hex-item {
    position: absolute;
    display: block;
    top: 0;
    left: 3vw;
    width: 6vw;
    height: 10.39vw; }
    .hex-item:first-child {
      z-index: 0;
      transform: scale(0.9);
      transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
    .hex-item:last-child {
      transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      z-index: 1; }
    .hex-item div {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      width: 6vw;
      height: 10.39vw;
      transform-origin: center center; }
      .hex-item div::before, .hex-item div::after {
        background-color: rgb(47, 69, 79);
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
      .hex-item div:before {
        top: 0; }
      .hex-item div:after {
        bottom: 0; }
      .hex-item div:nth-child(1) {
        transform: rotate(0deg); 
      }
      .hex-item div:nth-child(2) {
        transform: rotate(60deg); 
      }
      .hex-item div:nth-child(3) {
        transform: rotate(120deg); 
      }
  .hex-content {
    color: #fff;
    display: block;
    height: 10.8vw;
    margin: 0 auto;
    position: relative;
    text-align: center;
    transform: rotate(-30deg);
    width: 9.36vw; }
    
    .hex-content .hex-content-inner {
      left: 50%;
      margin: -3px 0 0 2px;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%); }
    .hex-content .icon {
      display: block;
     /* font-size: 2vh;*/
      line-height: 1.4vh;
      margin-bottom: 1vh; }
    .hex-content .titleHex {
      display: block;
      /*font-size: 1.8VH;
      letter-spacing: 1px;*/
      /*line-height: 3vw;*/
     }
    .hex-content svg {
      left: 4px;
      position: absolute;
      top: 1px;
      transform: scale(0.87);
      z-index: -1;
      transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
    .hex-content:hover {
      color: #080808; }
  
      .hexagon-item:hover .titleHex, .hexagon-item:hover .icon
      {
                  animation: focus-in-contract 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                  color: #ff0037;
      }

      .first{
        grid-column: 1;
        margin-left: .65vw;
        margin-top: 3vh;
      }
      .second{
        grid-column: 1;
        margin-left: 2.65vw;
      }
      .third{
        grid-column: 1;
        margin-left: 5.1vw;
      }
      .fourth{
        grid-column: 1;
        margin-left: 2.3vw;
      }
      .fifth{
        grid-column: 1;
        margin-left: .05vw;
      }
      .sixth{
        grid-column: 1;
        margin-left: 2.65vw;
      }
      .seventh{
        grid-column: 1;
        margin-left: 5vw;
      }
  /***************************/

  @keyframes focus-in-contract {
    0% {
      letter-spacing: 1em;
              filter: blur(12px);
      opacity: 0;
    }
    100% {
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  @media screen and (max-width: 800px) {
    .card {font-size: 4vw}; :root{font-size: .8em;}

  .hexagon-item {
      float: none; margin: 0 auto 3vw;

  }
    .hexagon-item:first-child {
      margin-left: auto;
  }
    .hex-content svg {
        display: none;
  }
  .hexagon-item:hover .titleHex, .hexagon-item:hover .icon{
    color: #fff;
  }
}
/* Resource Pages */
.moodTitle{
    font-size: 3vw;
}
.moodHead{
    font-size: 2vw;

    background-color: rgb(18, 30, 36);
}
.mood {
    background-color: rgb(47, 69, 79);
    text-indent: 2vw;
}
table {
    margin-left: 5vw;
    table-layout: auto;
    width: 80%;
    border-collapse: collapse;
    border: 3px solid rgba(0, 4, 128, 0.89);
  }
  
 th, td {
    padding: 1vw;
    letter-spacing: .25vw;
  }
  tbody td {
    text-align: center;
  }
  tbody tr:nth-child(odd) {
    background-color: rgb(47, 69, 79);
  }
  
  tbody tr:nth-child(even) {
    background-color: rgb(34, 49, 56);
  }
  