:root{
    --clr-back: rgba(1, 13, 66);
    --clr-drkBack: rgba(2, 8, 37);
    --clr-fighter: rgba(189, 186, 186);
    --clr-rogue:  rgba( 204, 209, 204);
    --clr-hunt:  rgba(115, 170, 142);
    --clr-dokour: rgb(234, 84, 107);
    --clr-eolas: rgba(237, 226, 192);
    --clr-strumos: rgb(232, 247, 149);
    --clr-sylvan: #05ee19;
    --clr-orix: rgb(184, 128, 171);
    --clr-tiro: rgba(196, 197, 148);
    --clr-all: rgb(228, 241, 228);
    --clr-nav: rgb(167, 127, 206);

    --ff-base: "Milonga", serif;
    font-size: 1rem;

    --fw-regular: 300;
    --fw-semi-bold: 400;
    --fw-bold: 700; 
}
html{
    color-scheme: light dark;
    scroll-behavior: smooth;
}

body{
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    color: azure;
    line-height: 1.5;
    font-style: normal;
    background-color: var(--clr-back);
}
.emblem{
    width: 100%;
    height:auto;
}
.title{
    font-size: 6vw;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(RealDragonSmall.png);
    width: 100%;
    height:auto;
    overflow: auto;
}
.navbar{
    height: 1.5em;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: var(--clr-drkBack);
    
}
#navlist{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    color: var(--clr-nav);
    font-size: 1.1em;
    overflow: auto;
}
.main{
    display: grid;
    grid-template-columns: repeat(11, 9vw);
    grid-auto-rows: 30vh;
    
}
a {
    text-decoration: none;
    color: inherit;
}
.intro{
    grid-column: 2 / 11;
    grid-row: 1 / 3;
    max-height: 60vh;
    max-width: 79vw;
    overflow-y: scroll;
    
}
.race{
    grid-column: 2 / 7;
    grid-row: 3;
    width: 40vw;
    height: 30vh;
    align-self: start;
    position: relative;
}
.rcard{
    min-width: 35vw;
    height: 27vh;
    background-color: black;
    background-repeat: no-repeat; background-size: cover;
}
.rcard:hover {
    border-color: rgb(12, 2, 206);
    border-width: .3vw;
    border-style: ridge;
}
.cardTitle{
    margin-left: 35%;
    margin-top: 0px;
    margin-bottom: 0%;
    font-size: 2.5vw;
    text-decoration: none;
    color: unset;
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.cardText{
    margin-top: 2%;
    margin-left: 40%;
    margin-right: 5%;
    margin-bottom: 20%;
    text-indent: 5%;
    font-size: 1vw;
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#rClick{

    margin-left: 20%;
    margin-right: 2%;
    margin-bottom: 1%;
}
.rBonusImg{
    cursor: default;
    position: absolute;
    top: 76%;
    left: 56%;
    width:auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: var(--fw-bold);
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}
.details{
    font-size: .7vw;
    cursor: pointer;
    position: absolute;
    top: 90%;
    width: auto;
    padding: 6px;
    margin-top: -22px;
    color: white;
    font-weight: var(--fw-bold);
    transition: 1.6s ease;
    border-radius: 0 3px 3px 0;
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.dot {
    text-align: center;
    grid-column: 2 / 6;
    grid-row: 4;
}
.rdot {
    cursor: pointer;
    height: .7vw;
    width: .8vw;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .rdot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.profession{
    grid-column: 7 / 12;
    grid-row: 3;
    max-width: 40vw;
    max-height: 30vh;
    position: relative;
}
.pcard{
    min-width: 35vw;
    height: 27vh;
    background-color: black;
    background-repeat: no-repeat; background-size: cover;
}
.pcard:hover {
    border-color: rgb(12, 2, 206);
    border-width: .3vw;
    border-style: ridge;
}
@media screen and (max-width: 800px) {
    .card {font-size: 4vw}; .intro{font-size: 2vw;}
}
.pprev, .pnext {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: var(--fw-bold);
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.pnext {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.pprev:hover, .pnext:hover{
    background-color: rgba(0,0,0,0.8);
}
.profdot {
    text-align: center;
    grid-column: 7 / 11;
    grid-row: 4;
}
.pdot {
    cursor: pointer;
    height: .7vw;
    width: .8vw;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.pactive, .pdot:hover {
    background-color: #717171;
}
.pfade {
    animation-name: pfade;
    animation-duration: 1.5s;
}

@keyframes pfade {
    from {opacity: .4}
    to {opacity: 1}
}
    #race1 {
    background-image: url(07-Races/cards/Race1.png);
}
    #race2 {
    background-image: url(07-Races/cards/Race2.png);
}
    #race3 {
    background-image: url(07-Races/cards/Race3.png);
}
    #race4 {
    background-image: url(07-Races/cards/Race4.png);
}
    #race5 {
    background-image: url(07-Races/cards/Race5.png);
}
    #race6 {
    background-image: url(07-Races/cards/Race6.png);
}
    #race7 {
    background-image: url(07-Races/cards/Race7.png);
    }
    #race8 {
        background-image: url(07-Races/cards/Race8.png);
    }
    #race9 {
        background-image: url(07-Races/cards/Race9.png);
    }
    #race10 {
        background-image: url(07-Races/cards/Race10.png);
    }
    #race11 {
        background-image: url(07-Races/cards/Race11.png);
    }
    #race12 {
        background-image: url(07-Races/cards/Race12.png);
    }
    #race13 {
        background-image: url(07-Races/cards/Race13.png);
    }
    #race14 {
        background-image: url(07-Races/cards/Race14.png);
    }
    #race15 {
        background-image: url(07-Races/cards/Race15.png);
    }
#class7 {
    background-color: rgb(206, 4, 4);
}
.postClassRace{
    grid-column: 3 / 9;
    grid-row: 4;
    font-size: 1.5vh;    
    display: flex;
    justify-content: center;
    align-content: start;
}
#rF{
    grid-column: 1 / 6;
    grid-row: 4 / 9;    
    justify-content: center;
    align-content: start;
    margin-top: 15vh;
    margin-left: 3vw;
}
.raceFrame, .classFrame{
    font-size: 2vw;
}
#cF{
    grid-column: 6 / 12;
    grid-row: 4 / 9;    
    justify-content: center;
    align-content: start;
    margin-top: 15vh;
    margin-right: 2vw;
    margin-left: 1vw;
}
[style*="--aspect-ratio"] > :first-child {
    width: 100%;
  }
  [style*="--aspect-ratio"] > img {  
    height: auto;
  } 
  @supports (--custom:property) {
    [style*="--aspect-ratio"] {
      position: relative;
    }
    [style*="--aspect-ratio"]::before {
      content: "";
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }  
    [style*="--aspect-ratio"] > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      overflow: auto;

    }
}
.footer{
    font-size:xx-small;
    margin-left: 10vw;
}
#class1 {
    background-image: url(20-Classes/cards/Class1.png);
}
#class2 {
    background-image: url(20-Classes/cards/Class2.png);
}
#class3 {
    background-image: url(20-Classes/cards/Class3.png);
}
#class4 {
    background-image: url(20-Classes/cards/Class4.png);
}
#class5 {
    background-image: url(20-Classes/cards/Class5.png);
}
#class6 {
    background-image: url(20-Classes/cards/Class6.png);
}
#class7 {
    background-image: url(20-Classes/cards/Class7.png);
}
#class8 {
    background-image: url(20-Classes/cards/Class8.png);
}
#class9 {
    background-image: url(20-Classes/cards/Class9.png);
}
#class10 {
    background-image: url(20-Classes/cards/Class10.png);
}
#class11 {
    background-image: url(20-Classes/cards/Class11.png);
}
#class12 {
    background-image: url(20-Classes/cards/Class12.png);
}