:root{
    --clr-back: rgba(1, 13, 66, 0.719);
    --clr-fighter: rgba(189, 186, 186);
    --clr-rogue:  rgba( 204, 209, 204);
    --clr-hunt:  rgba(115, 170, 142);
    --clr-dokour: rgb(234, 84, 107);
    --clr-eolas: rgba(237, 226, 192);
    --clr-strumos: rgb(232, 247, 149);
    --clr-sylvan: #05ee19;
    --clr-orix: rgb(184, 128, 171);
    --clr-tiro: rgba(196, 197, 148);
    --clr-all: rgb(228, 241, 228);

    --ff-base: "Milonga", serif;

    --fw-regular: 300;
    --fw-semi-bold: 400;
    --fw-bold: 700; 
}
html{
    color-scheme: light dark;
    font-size: calc(.7rem + 1vw);
}

body{
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    color: azure;
    line-height: 1.5;
    font-style: normal;
    background-color: var(--clr-back);
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
p{
    margin: 1vw;
}
.title{
    font-size: calc(1em + 10vw);
    text-align: center;
    background-size: cover;
}
.class1Ban{
    background-image: url("../cards/Class1Banner.jpg");
    background-repeat: no-repeat;
}
.class2Ban{
    background-image: url("../cards/Class2Banner.jpg");
    background-repeat: no-repeat;
}
.class3Ban{
    background-image: url("../cards/Class3Banner.jpg");
    background-repeat: no-repeat;
}
.class4Ban{
    background-image: url("../cards/Class4Banner.jpg");
    background-repeat: no-repeat;
}
.class5Ban{
    background-image: url("../cards/Class5Banner.jpg");
    background-repeat: no-repeat;
}
.class6Ban{
    background-image: url("../cards/Class6Banner.jpg");
    background-repeat: no-repeat;
}
.class7Ban{
    background-image: url("../cards/Class7Banner.jpg");
    background-repeat: no-repeat;
}
.class8Ban{
    background-image: url("../cards/Class8Banner.jpg");
    background-repeat: no-repeat;
}
.class9Ban{
    background-image: url("../cards/Class9Banner.jpg");
    background-repeat: no-repeat;
}
.class10Ban{
    background-image: url("../cards/Class10Banner.jpg");
    background-repeat: no-repeat;
}
.class11Ban{
    background-image: url("../cards/Class11Banner.jpg");
    background-repeat: no-repeat;
}
.class12Ban{
    background-image: url("../cards/Class11Banner.jpg");
    background-repeat: no-repeat;
}
.txt1{
    font-size: 110%;
}
    .txt2{
        font-weight: var(--fw-bold);
    }
.names{
    font-size: 80%;
    column-count: 2;
}
#attBonus{
    max-width:100vw ;
    margin-left: 5vw;
}