
:root{
  --clr-back: rgba(1, 13, 66);
  --clr-drkBack: rgba(2, 8, 37);
  --clr-fighter: rgba(189, 186, 186);
  --clr-fighterO: rgba(189, 186, 186, 0.705);
  --clr-rogue:  #b97a57;
  --clr-rogueO: #b97957b2;
  --clr-hunt:  rgba(115, 170, 142);
  --clr-huntO: rgba(115, 170, 142, 0.705);
  --clr-dokour: rgb(234, 84, 107);
  --clr-dokourO: rgba(234, 84, 107, 0.705);
  --clr-eolas: rgba(237, 226, 192);
  --clr-eolasO: rgba(237, 226, 192, 0.705);
  --clr-strumos: rgb(232, 247, 149);
  --clr-strumosO:rgba(232, 247, 149, 0.705);
  --clr-sylvan: #05ee19;
  --clr-sylvanO: #05ee18c0;
  --clr-orix: rgb(184, 128, 171);
  --clr-orixO: rgb(184, 128, 171);
  --clr-ven: rgb(199, 232, 247);
  --clr-venO: rgb(199, 232, 247, 0.705);  
  --clr-tiro: rgba(196, 197, 148, 0.705);
  --clr-all: rgb(228, 241, 228);
  --clr-allO: rgba(228, 241, 228, 0.705);
  --clr-nav: rgb(167, 127, 206);
  --clr-wht: rgb(255, 255, 255);

  --ff-base: "Milonga", serif;

  --fw-regular: 300;
  --fw-semi-bold: 400;
  --fw-bold: 700; 
}

html{
  color-scheme: light dark;
  font-size: calc(.6rem + 1vw);
}
body{
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  color: var(--clr-wht);
  background-color: var(--clr-back);
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.title{
  height: 11vh;
  color: var(--clr-back);
}
.image{
  background-image: url("../Vainglorious_logo.png"); background-position: 50% 60%;
  height: 100%;
  width: auto;
  background-repeat: no-repeat;
  box-align: center;
  object-fit: scale-down;
  margin-left: 9vw;
  margin-right: 5vw;
}
.navbar{
    height: 1em;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: var(--clr-drkBack);
    align-items: center;
  }
  #navlist{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    font-size: .8em;
    list-style-type: none;
    color: var(--clr-nav);
  }
  a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease 0s;
  }
  a:hover , a:focus{
    color: #ababab
  }
.post {flex: 20%; padding: 10px; margin: 5px; 
    background-color: #f3f3f3; inline-size: 100%;}

.btnCurtain {
  position: absolute; /* Position them relative to the browser window */
  writing-mode: vertical-rl;
  left: -4px; /* Position them outside of the screen */
  bottom: 30vh; 
  transition: 0.3s; /* Add transition on hover */
  padding: 0px; /* xxpx padding */
  width: 40px; /* Set a specific width */
  height: 280px;
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 25px 25px 0; /* Rounded corners on the top right and bottom right side */
  background-color: rgb(13, 14, 13); border-color: cyan; border-width: 3px;
  cursor: pointer;
}
.btnCurtain:hover {
  left: 0px; /* On mouse-over, make the elements appear as they should */
}
.button {
  color: var(--clr-wht); width: max-content; cursor: pointer; overflow: hidden; font-size: .9em;
}
#classbanners{
  color: var(--clr-wht); margin-top: 5px; padding: 10px; text-align: center; background-repeat: no-repeat; background-size: cover;
}
.hunt { 
      background-image: url("images/HunPics.png"); background-position: 50% 60%;
      }
      .btnH {
          color:black; background-color: var(--clr-hunt); float: left; margin-left: 1vw;
            }
      .btnH2 {
          font-size: .8em; background-color: var(--clr-huntO);
              }
.fig {  
      background-image: url("images/FigPics.png"); background-position: 50% 60%;
     }
     .btnF {
          color:black; background-color:var(--clr-fighter); float: left; margin-left: 1vw;
            }   
     .btnF2 {
          color: black; font-size: .8em; background-color: var(--clr-fighterO);
            }
.rog { 
      background-image: url("images/RogPics.png"); background-position: 50% 60%;
     }            
     .btnR {
          color:black; float: left; background-color: var(--clr-rogue); float: left; margin-left: 1vw;
           }              
     .btnR2 {
          font-size: .8em; background-color: var(--clr-rogueO);
            }
.dok {
      background-image: url("images/DokPics.png"); background-position: 50% 60%;
     }                   
     .btnD {
        color: rgba(48, 10, 10); background-color: var(--clr-dokour); float: left; margin-left: 1vw;
           }
                         
     .btnD2 {
        font-size: .8em; background-color: var(--clr-dokourO);
            }
.eol { 
      background-image: url("images/EolPics.png"); background-position: 60% 70%;
      }
                              
     .btnE {
        color:rgb(72, 77, 14); background-color: var(--clr-eolas); float: left; margin-left: 1vw;
           }                     
     .btnE2 {
        font-size: .8em; background-color: var(--clr-eolasO);
            }
.str {
      background-image: url("images/StrPics.png"); background-position: 50% 60%;
      }                     
     .btnS {
        color:rgb(39, 43, 11); background-color: var(--clr-strumos); float: left; margin-left: 1vw;
           }                  
     .btnS2 {
        font-size: .8em; background-color: rgba(231, 250, 123, 0.664);
            }
.syl {
      background-image: url("images/SylPics.png"); background-position: 50% 60%;
     }                                  
     .btnSy {
        color:rgb(21, 37, 21); background-color:var(--clr-sylvan);  float: left; margin-left: 1vw;
      }                              
     .btnSy2 {
        font-size: .8em; background-color: var(--clr-sylvanO);
             }
.ori {
      background-image: url("images/OriPics.png"); background-position: 50% 60%;
      }                               
     .btnO {
        color:rgb(244, 247, 244); background-color: var(--clr-orix); float: left; margin-left: 1vw;
      }                           
     .btnO2 {
        font-size: .8em; background-color: var(--clr-orixO);
            }
.ven {
      background-image: url("images/EolPics.png"); background-position: 50% 60%;
      }                               
     .btnV {
        color:rgb(39, 43, 11); background-color: var(--clr-ven); float: left; margin-left: 1vw;
      }                           
     .btnV2 {
        font-size: .8em; background-color: var(--clr-venO);
            }
.tir { 
      background-image: url("images/TirPics.png"); background-position: 50% 60%;
      }              
     .btnT {
        color:rgb(10, 10, 10); background-image: url("images/TiroBack.png"); float: center; margin-left: 1vw;
            }    
     .btnT2 {
        color: rgb(19, 19, 17); font-size: .8em; background-color: rgba(196, 197, 148, 0.61);
            }
.all { 
      background-image: url("images/AllCard.png"); background-position: 60% 72%;
      }                  
     .btnA {
        color:rgba(88, 45, 81); background-color: var(--clr-all); float: center; margin-left: 1vw;
           }    
     .btnA2 {
        color: rgba(88, 45, 81, 0.911); font-size: .8em; background-color: var(--clr-allO);
            }
 /* Curtain Overlay (background) */
 .overlay { 
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.8); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 1.2s; /* transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 12%; /* 5% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 0px; 
    font-size: 2em;
  }
  #skillgrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 32vh;
    padding: 1vw;
  }
  #one{
    grid-column:1;
    grid-row: 1;
    background-image: url("images/HunterCard.png");
    background-repeat: no-repeat; background-size: cover;
    cursor: pointer;
  }
  #two{
    grid-column:1;
    grid-row: 2;
    background-image: url("images/FighterCard.png");
    background-repeat: no-repeat; background-size: cover;
    cursor: pointer;
  }
  #three{
    grid-column:1;
    grid-row: 3;
    background-image: url("images/RogueCard.png");
    background-repeat: no-repeat; background-size: cover;
    cursor: pointer;
  }
  #four{
    grid-column:2;
    grid-row: 1;
    background-image: url("images/SylvanCard.png");
    background-repeat: no-repeat; background-size: cover;
    cursor: pointer;
  }
  #five{
    grid-column:2;
    grid-row: 2;
    background-image: url("images/StrumosCard.png");
    background-repeat: no-repeat; background-size: cover;
    cursor: pointer;
  }
  #six{
    grid-column:2;
    grid-row: 3;
    background-image: url("images/DokourCard.png");
    background-repeat: no-repeat; background-size: cover;
    cursor: pointer;
  }
  #seven{
    grid-column:3;
    grid-row: 1;
    background-image: url("images/EolasCard.png");
    background-repeat: no-repeat; background-size: cover;
    cursor: pointer;
  }
  #eight{
    grid-column:3;
    grid-row: 2;
    background-image: url("images/TiroCard.png");
    background-repeat: no-repeat; background-size: cover;
    cursor: pointer;
  }
  #nine{
    grid-column:3;
    grid-row: 3;
    background-image: url("images/AllCard.png");
    background-repeat: no-repeat; background-size: cover;
    cursor: pointer;
  }
  #ten{
    grid-column:4;
    grid-row: 1;
    background-image: url("images/OrixCard.png");
    background-repeat: no-repeat; background-size: cover;
    cursor: pointer;
  }
  
  /* The navigation links inside the overlay */
  .overlay button {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #81818133;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay button:hover, .overlay button:focus {
    color: #351d1d; text-shadow:#000000 1px 0 15px;
  }
  #nine:hover, #nine:focus{color: #f7ed83; text-shadow:#000000 1px 0 15px;}
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 2px;
    right: 25px;
    font-size: 4em;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-width: 800px) {
    .overlay button {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

  @media screen and (max-width: 800px) {
    .overlay-content #skillgrid {
      display: grid;
      grid-template-columns: 1fr;
      overflow: hidden;
      grid-auto-rows: 18vh;
      padding: 1vw;
    }
    .btnCurtain { 
      width: 20px;
      writing-mode: unset;
      word-wrap: break-word;
      white-space: pre-wrap;
      overflow: hidden;
      bottom: 20vh;
    }
    #one{
      grid-column:1;
      grid-row: 1;
      background-position: 0% 5%;
    }
    #two{
      grid-column:1;
      grid-row: 2;
      background-position: 0% 5%;
    }
    #three{
      grid-column:1;
      grid-row: 3;
      background-position: 0% 5%;
    }
    #four{
      grid-column:1;
      grid-row: 4;
      background-position: 0% 5%;
    }
    #five{
      grid-column:1;
      grid-row: 5;
      background-position: 0% 5%;
    }
    #six{
      grid-column:1;
      grid-row: 6;
      background-position: 0% 5%;
    }
    #seven{
      grid-column:1;
      grid-row: 7;
      background-position: 0% 5%;
    }
    #eight{
      grid-column:1;
      grid-row: 8;
      background-position: 0% 5%;
    }
    #nine{
      grid-column:1;
      grid-row: 9;
      background-position: 0% 5%;
    }
    #ten{
      grid-column:1;
      grid-row: 10;
      background-position: 0% 5%;
    }
  } 
 